<div class="container" id="wrapper">
	<div class="card">
	  <div class="card-body">
	    <h1>SYNRGY</h1>
		<br>
		<div class="row">
			<div class="form-group col-md-6">
				<a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
			</div>
			<div class="form-group col-md-6">
				<a class="btn btn-dark btn-lg" href="/signup" role="button">Sign Up</a>
			</div>
		</div>
	  </div>
	</div>
</div>